@import '/src/styles/variables.scss';

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  min-width: 644px;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  &__content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
  }

  &__close-btn {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
}

.form {
  &__container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }

  &__error {
    color: $redColor;
    margin: 0 0 10px;
  }
}